body {
  background-image: url(../images/rounded-plus-connected.svg);
  background-size: 8%;
  background-repeat:repeat;
  background-attachment: fixed;
}

img{
  vertical-align: bottom;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

hr{
  background-color: white;
  height: 1px;
  border: 2px solid white;
}

span {
  vertical-align: bottom;
}