@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400;1,900&display=swap');

body {
  background-image: url(../images/rounded-plus-connected.svg);
  background-size: 8%;
  background-repeat:repeat;
  background-attachment: fixed;
  font-family: "NSimSun";
}

img{
  vertical-align: bottom;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

hr{
  background-color: white;
  height: 1px;
  border: 2px solid white;
}

span {
  vertical-align: bottom;
}

area{
  outline: none;
}